body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid greenyellow;
    border-radius: 5px;
    background-color: green;
}

label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="gender"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}